build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
.ninja_deps
.ninja_log
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.pdb
*.ilk
.idea/
.vs/
.vscode/
*.user
Thumbs.db
desktop.ini
.DS_Store
